/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.spacer {
  flex: 1 1 auto;
}
.login-card {
  max-width: 300px;
  margin: 100px auto;
}
.error{
  color: red;
}
.profile-card{
  max-width: 500px;
  margin: 100px auto 0px;
  text-align: center;
}
.profile-card mat-card-title{
  padding: 20px;
  border-bottom: 1px solid #e8e6e6;
}
.profile-card mat-card-content{
  padding: 20px;
}
.profile-img{
  margin: 30px 20px;
}
.profile-img img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  -webkit-box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.06);
  border: 2px solid #e8e8e8;
}
h1,h2 {
  font-weight: 500;
  margin: 0px 0px 5px 0px;
}
h1 {
  font-size: 24px;
}
h2 {
  font-size: 16px;
}